.todo-list {
  padding: 10px 0;
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);

  &-title {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    border-bottom: 1px solid rgba(1, 1, 1, 0.1);
    padding: 5px 0;
    margin-bottom: 10px;
  }

  &-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-content: center;

    input {
      width: 100%;
      max-width: 364px;
      background: #09090B;
      color: #f6f6f6;
      border: 1px solid #666666;
      min-height: 18px;
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 3px;
    }
  }

  .filter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e1e1e;
    width: 100%;
    border-radius: 6px;
    max-width: 384px;
    margin: 20px auto 20px;
    padding: 6px;

    button {
      padding: 10px;
      cursor: pointer;
      background: #09090B;
      border-radius: 8px;
      color: #f6f6f6;
      font-family: inherit;
      box-shadow: none;
      border: 1px solid #434343;
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e1e1e;
    width: 100%;
    border-radius: 6px;
    max-width: 384px;
    margin: 20px auto 20px;
    padding: 6px;

    button {
      padding: 10px;
      cursor: pointer;
      font-family: inherit;
      background: #09090B;
      border-radius: 8px;
      color: #f6f6f6;
      box-shadow: none;
      border: 1px solid #434343;
    }
    span {
      font-size: 14px;
    }
  }
}

.no-todos {
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  color: gray;
}